.card-container {
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  position: relative;
}

.card-container:hover {
  transform: scale(1.05);
}

.card-back {
  display: none;
}

.card-image {
  position: relative;
  width: 180px;
  height: 180px;
  margin: 0 auto;
}

.card-image:before {
  content: "";
  background-image: url("../../chain.png");
  background-size: 100px auto;
  background-repeat: no-repeat;
  display: block;
  z-index: 11;
  position: absolute;
  width: 180px;
  height: 180px;
  top: 127px;
  left: 40px;
}

/* .has-chain {
  background-image: url("../../chain.png");
  background-size: 100px auto;
  background-repeat: no-repeat;
  display: block;
  z-index: 11;
  position: absolute;
  width: 100px;
  height: 200px;
} */