.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 25px 0 25px 0;
}

h1 {
  font-family: 'Bigelow Rules';
  font-size: 72px;
  color: yellow;
}

.button-container {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

@media only screen and (min-width: 600px) {
  .button-container {
    width: 500px;
  };
}